.App {
    width: 100vw;
    height: 100vh;
}

.left-side-col {
    width: 60%;
    text-align: center;
    border: 2px solid grey;
}
.right-side-col {
    width: 40%;
    text-align: center;
    border: 2px solid grey;
}